@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-list
    line-height 2
    &>*:only-child
        vertical-align middle
    &::marker
        color _rgb(var(--primary-5))
