@import './../variable/prefix.styl'
@import './../variable/functions.styl'


gray-cell()
    color _rgb(var(--gray-9))
    background-color _rgb(var(--gray-1))


.{prefix}-table-wrapper
    display grid
    overflow auto
    position relative

    thead, .{prefix}-table-header-group
        top 0
        z-index 10
        position sticky
    tfoot, .{prefix}-table-footer-group
        bottom 0
        z-index 10
        position sticky

    /.{prefix}-table
        // --min-width-cell unset
        // --padding-cell 9px 12px
        // --border-cell none
        // --text-align-cell left

        font-size var(--font-size-body)
        line-height var(--line-height-body)
        &.lg
            --padding-cell 13px 16px
            --font-size-body var(--font-size-3)
            --line-height-body var(--line-height-3)
        &.sm
            --padding-cell 5px 8px
            --font-size-body var(--font-size-1)
            --line-height-body var(--line-height-1)

        display table
        max-width 100%
        border-collapse collapse

        tr, &-row
            display table-row
            box-sizing border-box
            &:hover>*
                gray-cell()
        td, th, &-cell
            display table-cell
            box-sizing border-box
            min-width var(--min-width-cell, unset)
            white-space nowrap
            padding var(--padding-cell, 9px 12px)
            text-align var(--text-align-cell, left)
            border var(--border-cell, none)
            box-shadow var(--box-shadow-divider-bottom)
        
        &-header-group
            display table-header-group
            .{prefix}-table-cell
                gray-cell()
        &-footer-group
            display table-footer-group
            .{prefix}-table-cell
                gray-cell()
        th
            gray-cell()
        
        colgroup>col
            border 1px none _rgb(var(--box-shadow-color) \/ .3)
