@import './../../lib/variable/prefix.styl'
@import './../../lib/variable/functions.styl'

.{prefix}-panel
    &[data-marker='(>)']
        summary::before
            -webkit-mask url("/src/icons/direction/outline/right-circle.svg") \
                no-repeat \
                center center \
                \/ \
                18px 18px
            mask @-webkit-mask
