@import './variable/prefix.styl'
@font-face
    font-family Emoji
    src local('Apple Color Emoji'), local('Segoe UI Emoji'), local('Segoe UI Symbol'), local('Noto Color Emoji')
    unicode-range U+1F000-1F644, U+203C-3299
:root // 兜底
    font-size var(--font-size-body)
    font-family 'system-ui', '—apple-system', 'Segoe UI', 'Rototo', 'Emoji', 'Helvetica', 'Arial', 'sans-serif'
.{prefix}-font-serif // 衬线
    font-family 'Georgia', 'Cambria', 'Times New Roman', 'Times', 'serif'
.{prefix}-font-mono // 等宽
    font-family 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace'