// css variable
@import './variable/shadow.css'
@import './variable/size.css'


// styl variable
@import './variable/color.styl'
// styl base
@import './font.styl'
@import './layout.styl'
// styl components
@import './components/*'