@import './variable/prefix.styl'

.{prefix}-layout
    display flex
    flex-direction column
    flex 1
    --box-shadow-color var(--gray-6)
    &[data-has-sider]
        flex-direction row
    &-content
        flex 1
    &-sider
        &:first-child
            --box-shadow-color @--box-shadow-color
            box-shadow var(--box-shadow-divider-right)
        &:last-child
            --box-shadow-color @--box-shadow-color
            box-shadow var(--box-shadow-divider-left)
    &-header
        --box-shadow-color @--box-shadow-color
        box-shadow var(--box-shadow-divider-bottom)
    &-footer
        --box-shadow-color @--box-shadow-color
        box-shadow var(--box-shadow-divider-top)
