@import './variable/prefix.styl'
.{prefix}-layout
    display flex
    flex-direction column
    flex auto
    &.{prefix}-layout-has-sider
        flex-direction row
.{prefix}-layout-content
    flex auto