@import './variable/prefix.styl'

.{prefix}-layout
    display flex
    flex-direction column
    flex 1
    --box-shadow-color var(--gray-6)
    &:where([data-has-aside])
        flex-direction row
    &-content
        flex 1
        overflow hidden auto
    &-aside
        // --width-aside: unset
        width var(--width-aside, unset)
        overflow hidden auto

        &:first-child
            --box-shadow-color @--box-shadow-color
            box-shadow var(--box-shadow-divider-right)
        &:last-child
            --box-shadow-color @--box-shadow-color
            box-shadow var(--box-shadow-divider-left)
        &:where([data-folded])
            /**
             * 折叠 无动画的收起
             */
            flex 0
            padding-left 0
            padding-right 0
        &:where([data-collapsed])
            /**
             * 塌陷 有动画的收起
             */
            width 0
            padding-left 0
            padding-right 0
        transition padding-left .3s, padding-right .3s, width .3s

    &-header
        --box-shadow-color @--box-shadow-color
        box-shadow var(--box-shadow-divider-bottom)
    &-footer
        --box-shadow-color @--box-shadow-color
        box-shadow var(--box-shadow-divider-top)
