@import './variable/functions.styl'

color_alias_dict = {
    primary: 'pinkpurple',
    success: 'green',
    danger: 'red',
    warning: 'orange'
}
:root
    for k, v in color_alias_dict
        for i in range(1 10)
            {_get_var_by(k, i)} var(_get_var_by(v, i))

        if k != 'primary'
            [data-primary={k}]
                for i in range(1 10)
                    {_get_var_by('primary', i)} var(_get_var_by(k, i))
    
    --outline-color-focus var(--black)
