@font-face
    font-family Emoji
    src local('Apple Color Emoji'), local('Segoe UI Emoji'), local('Segoe UI Symbol'), local('Noto Color Emoji')
    unicode-range U+1F000-1F644, U+203C-3299

_set_font_base()
    font-family var(--font-family-base, 'system-ui', '—apple-system', 'Segoe UI', 'Rototo', 'Emoji', 'Helvetica', 'Arial', 'sans-serif')
_set_font_serif()
    font-family var(--font-family-serif, var(--font-family-base, 'Georgia', 'Cambria', 'Times New Roman', 'Times', 'serif'))
_set_font_mono()
    font-family var(--font-family-mono, var(--font-family-base, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace'))

:root // 兜底
    font-size var(--font-size-body)
    _set_font_base()
.{prefix}-font-serif // 衬线
    _set_font_serif()
.{prefix}-font-mono // 等宽
    _set_font_mono()

.{prefix}-button
.{prefix}-input
.{prefix}-texrarea
.{prefix}-select
    font-family inherit
    font-style inherit
    font-weight inherit

.{prefix}-kbd
.{prefix}-pre
.{prefix}-code
    _set_font_mono()

.{prefix}-connot-select // 无法选中和拖拽
    user-drag none
    user-select none
*::selection // 被选中
    background-color rgb(var(--background-color-selection, var(--primary-9)))
    color rgb(var(--color-selection, var(--primary-1)))
