#header-menu-toggle
    display grid
    padding 5px
    font-size 22px
    @media screen and (min-width 1024px)
        display none
    svg
        grid-area 1 / 1 / 2 / 2
        transition opacity .3s 
    &[aria-pressed=false]>svg[data-icon='direction/outline/menu-fold']
    &[aria-pressed=true]>svg[data-icon='direction/outline/menu-unfold']
        opacity 0
