---
import Switch from "./index.astro";
const props = Astro.props;
interface Props {
    id: string
}
---

<Switch
    id={props.id}
    class="oxalis-switch"
    checked
    style={{
        ["--size-switch"]: "48px",
        ["--padding-switch"]: "4px",
        ["--primary-6"]: "var(--lime-6)",
        ["--gray-4"]: "var(--yellow-3)",
    }}
>
    <span class="oxalis-switch-mover">☘</span>
</Switch>
<style lang="stylus" is:global>
    .oxalis-switch>input:checked+label
        .oxalis-switch-mover
            transform rotate(360deg)
            overflow hidden
</style>
