---
import prefix from "docs/scripts/prefix"

interface Props {
    href: string
}
const href = Astro.props.href.replace(/^\//, import.meta.env.BASE_URL)
---

<a class={`${prefix}-link`} href={href}>
    <slot />
</a>
