---
import prefix from "docs/scripts/prefix"

interface Props {
    href: string
}
const href = Astro.props.href.replace(/^\//, import.meta.env.BASE_URL)
---

<a
    class={`${prefix}-link`}
    href={href}
    target={/^\//.test(Astro.props.href) ? "_self" : "_blank"}
>
    <slot />
</a>
