---
import prefix from "docs/scripts/prefix"

interface Props {
    class: string
    "data-language"?: string
    tabindex: string
    style: {
        backgroundColor: string
        "--shiki-dark-bg": string
        color: string
        "--shiki-dark": string
        overflowX: string
    }
}
const props = Astro.props
// const style = props.style
---

<section
    class={`${prefix}-watermark`}
    style="--border-radius-watermark:var(--border-radius-md)"
>
    <pre
        data-language={props["data-language"]}
        class={`${prefix}-pre`}
        style={{
            // "--background-color-pre": `from ${style.backgroundColor} r g b`,
            // "--background-color-pre-dark": `from ${style["--shiki-dark-bg"]} r g b`,
        }}><slot /></pre>
</section>
