---
import T from "../T.astro";
---

<T tag="ul" class="☘-menu" id="menu-tree-kanban">
    <T tag="li" class="☘-menu-item">
        <T tag="a" class="☘-menu-item-link">叶子-0</T>
    </T>
    <T tag="li" class="☘-menu-submenu" data-folded>
        <T
            class="☘-menu-submenu-title"
            onclick="this.parentElement.toggleAttribute('data-folded')"
        >
            <span>分类-1</span>
            <T tag="i" class="☘-menu-submenu-title-arrow" />
        </T>
        <T tag="ul" class="☘-menu">
            <T tag="li" class="☘-menu-item">
                <T tag="a" class="☘-menu-item-link">叶子-1-1</T>
            </T>
            <T tag="li" class="☘-menu-item">
                <T tag="a" class="☘-menu-item-link">叶子-1-2</T>
            </T>
        </T>
    </T>
    <T tag="li" class="☘-menu-submenu">
        <T
            class="☘-menu-submenu-title"
            onclick="this.parentElement.toggleAttribute('data-folded')"
        >
            <span>分类-2</span>
            <T tag="i" class="☘-menu-submenu-title-arrow" />
        </T>
        <T tag="ul" class="☘-menu">
            <T tag="li" class="☘-menu-item ☘-watermark" data-selected>叶子-2-1</T>
            <T tag="li" class="☘-menu-item">
                <T tag="a" class="☘-menu-item-link">叶子-2-2</T>
            </T>
        </T>
    </T>
</T>

<style lang="stylus" is:global>
@import './../../lib/variable/functions.styl'

#menu-tree-kanban
    --color-menu var(--gold-6)
    border 2px solid _rgb(var(--gold-3))
    padding .5em
</style>
