---
import App from "@layout/app.astro";
import Header from "src/components/header/index.astro";
import prefix from "src/scripts/prefix";
import stylus from "src/assets/stylus.svg";
import Icon from "astro-icon";

const menu = import.meta.env.BASE_URL + "menu/";
---

<App>
    <Header href={menu} />
    <section class={`${prefix}-layout cover-layout`}>
        <main>
            <css-doodle></css-doodle>
            <nav>
                <a class="clover" href={menu}>
                    <Icon name="logo/color/clover" title="进入" />
                </a>
                <a class="stylus" href="https://stylus-lang.com/" target="_blank">
                    <img
                        src={stylus.src}
                        alt="Stylus logo"
                        title="stylus document"
                    />
                </a>
            </nav>
        </main>
    </section>
    <script src="/src/scripts/client/theme/cover.ts"></script>
</App>

<style lang="stylus">
@import './../lib/variable/functions.styl'
@import './../lib/variable/compatible.styl'

.cover-layout
    user-select none
    position relative

main
    display flex
    align-items center

    max-width 36em
    overflow hidden
    color transparent

    position absolute
    inset 0
    margin auto

    css-doodle
        height unset
        aspect-ratio 1 / 1
        animation rotate 120s infinite linear

nav
    position absolute
    inset 0
    margin auto

    display grid
    /** 原设计网格内放置4个图标 但是不好看 */
    grid-template-rows repeat(2, min-content)
    grid-template-columns @grid-template-rows
    justify-content center
    align-content center

    a
        display inline-block
        position relative
        border-radius 50%
        will-change filter
        transition filter .3s

        img,svg
            height 6em
            padding 1.5em
        &.clover:hover
            filter drop-shadow(0 0 2em _rgb(var(--primary-7))) hue-rotate(15deg)
        &.stylus::after
            position absolute
            inset 0
            content ''
            filter blur(3em)
            border-radius 50%
            background-image linear-gradient(
                135deg,
                _rgb(var(--lime-6) \/ .6) 30%,
                _rgb(var(--yellow-6) \/ .6)
            )


@keyframes rotate

    from 
        transform rotate(0deg)
    
    to 
        transform rotate(360deg)

</style>
