---
import App from "@layout/app.astro";
import prefix from "src/mixin/prefix";
---

<App title={prefix}>
    <div id="cover">
        <a href="/menu/" class="logo own">
            <img src="/favicon.svg" alt="My logo" />
        </a>
        <a href="https://stylus-lang.com/" class="logo">
            <img src="/stylus.svg" alt="Stylus logo" />
        </a>
    </div>
</App>

<style lang="stylus">
green = unquote('rgb(var(--green-3) / .6)')
lime = unquote('rgb(var(--lime-7) / .3)')
yellow = unquote("rgb(var(--yellow-3) / .3)")

#cover
    max-width 1280px
    margin auto
    padding 2rem
    text-align center
a.logo
    display inline-block
    position relative
    &.own:hover
        filter drop-shadow(0 0 2em green)
    img
        height 6em
        padding 1.5em
        will-change filter
        transition filter .3s
    &[href='https://stylus-lang.com/']::after
        position absolute
        inset 0
        content ''
        filter blur(3em)
        background-image linear-gradient(-45deg, lime, 30%, yellow)
</style>
