width(value)
    if value == fit-content
        width -moz-fit-content
        width fit-content
    else
        width value
user-select(value)
    -webkit-user-select value
    user-select value
filter(value)
    -webkit-filter value
    filter value
