/**
 * 转为 css native rgb
 * _rgb(0 0 0 \/ .5) => rgb(0 0 0/0.5)
 */
_rgb(color)
    s('rgb(%s)', color)

/**
 * _selector(':is()') => selector(:is())
 */
_selector(query)
    s('selector(%s)', unquote(query))

/**
 * 获取拼接的css变量
 * name: str
 * level: int
 * return: str
 */
_get_var_by(name, level)
    '--%s-%s'%(unquote(name) level)


mixin_line_clamp(n)
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp n
    overflow hidden