/**
 * 转为 css native rgb
 * 覆盖 stylus 的 rgb
 * 
 * @override rgb(0 0 0 \/ .5) => `rgb(0 0 0/0.5)`
 */
rgb(color)
    s('rgb(%s)', color)

/**
 * 覆盖 stylus 的 selector
 * @override selector(':is()') => `selector(:is())`
 *
 * 不要省略not的括号 css支持 但是stylus不支持
 * 如 css`@supports not selector(:is(a, b))` 
 * 要写成 styl`@supports not (selector(:is(a, b))`
 * 
 * query: str
 */
selector(query)
    s('selector(%s)', unquote(query))

/**
 * 获取拼接的css变量
 *
 * name: str
 * level: int
 * return: str
 */
_get_var_by(name, level)
    '--%s-%s'%(unquote(name) level)


mixin_line_clamp(n)
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp n
    overflow hidden
