@import './functions.styl'

:root
    /**
     * 边框
     */
    --box-shadow-divider-left-lv1 inset 1px 0 0 0 _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-top-lv1 inset 0 1px 0 0 _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-right-lv1 inset -1px 0 0 0 _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-bottom-lv1 inset 0 -1px 0 0 _rgb(var(--gray-4) \/ 25%)

    --box-shadow-divider-left-lv2 inset 1px 0 0 0 _rgb(var(--gray-6) \/ 25%)
    --box-shadow-divider-top-lv2 inset 0 1px 0 0 _rgb(var(--gray-6) \/ 25%)
    --box-shadow-divider-right-lv2 inset -1px 0 0 0 _rgb(var(--gray-6) \/ 25%)
    --box-shadow-divider-bottom-lv2 inset 0 -1px 0 0 _rgb(var(--gray-6) \/ 25%)

    --box-shadow-divider-left-lv3 inset 1px 0 0 0 _rgb(var(--black) \/ 25%)
    --box-shadow-divider-top-lv3 inset 0 1px 0 0 _rgb(var(--black) \/ 25%)
    --box-shadow-divider-right-lv3 inset -1px 0 0 0 _rgb(var(--black) \/ 25%)
    --box-shadow-divider-bottom-lv3 inset 0 -1px 0 0 _rgb(var(--black) \/ 25%)

    /**
     * 外阴影
     */
    --box-shadow-drop-top 0 -6px 12px 4px _rgb(var(--gray-4) \/ .3), 0 -3px 28px 0 _rgb(var(--gray-4) \/ .5), 0 -1px 2px -1px _rgb(var(--gray-4) \/ .7)
    --box-shadow-drop-left -6px 0 12px 4px _rgb(var(--gray-4) \/ .3), -3px 0 6px 0 _rgb(var(--gray-4) \/ .5), -1px 0 2px -1px _rgb(var(--gray-4) \/ .7)
    --box-shadow-drop-right 6px 0 12px 4px _rgb(var(--gray-4) \/ .3), 3px 0 6px 0 _rgb(var(--gray-4) \/ .5), 1px 0 2px -1px _rgb(var(--gray-4) \/ .7)
    --box-shadow-drop-bottom 0 6px 12px 4px _rgb(var(--gray-4) \/ .3), 0 3px 6px 0 _rgb(var(--gray-4) \/ .5), 0 1px 2px -1px _rgb(var(--gray-4) \/ .7)
    