@import './functions.styl'

:root
    /**
     * 边框用阴影
     */
    --box-shadow-divider-left inset 1px 0px 0px 0px _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-top inset 0px 1px 0px 0px _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-right inset -1px 0px 0px 0px _rgb(var(--gray-4) \/ 25%)
    --box-shadow-divider-bottom inset 0px -1px 0px 0px _rgb(var(--gray-4) \/ 25%)

    /**
     * 外阴影
     */
    --box-shadow-drop-top-lv1 0px -6px 12px 4px _rgb(var(--gray-10) \/ .06), 0px -3px 6px 0px _rgb(var(--gray-10) \/ .08), 0px -1px 2px -1px _rgb(var(--gray-10) \/ .1)
    --box-shadow-drop-top-lv2 0px -10px 28px 8px _rgb(var(--gray-10) \/ .04), 0px -6px 16px 0px _rgb(var(--gray-10) \/ .06), 0px -3px 6px -2px _rgb(var(--gray-10) \/ .08)
    --box-shadow-drop-top-lv3 0px -14px 40px 12px _rgb(var(--gray-10) \/ .03), 0px -10px 28px 0px _rgb(var(--gray-10) \/ .05), 0px -6px 14px -6px _rgb(var(--gray-10) \/ .07)

    --box-shadow-drop-left-lv1 -6px 0px 12px 4px _rgb(var(--gray-10) \/ .06), -3px 0px 6px 0px _rgb(var(--gray-10) \/ .08), -1px 0px 2px -1px _rgb(var(--gray-10) \/ .1)
    --box-shadow-drop-left-lv2 -10px 0px 28px 8px _rgb(var(--gray-10) \/ .04), -6px 0px 16px 0px _rgb(var(--gray-10) \/ .06), -3px 0px 6px -2px _rgb(var(--gray-10) \/ .08)
    --box-shadow-drop-left-lv3 -14px 0px 40px 12px _rgb(var(--gray-10) \/ .03), -10px 0px 28px 0px _rgb(var(--gray-10) \/ .05), -6px 0px 14px -6px _rgb(var(--gray-10) \/ .07)
    
    --box-shadow-drop-right-lv1 6px 0px 12px 4px _rgb(var(--gray-10) \/ .06), 3px 0px 6px 0px _rgb(var(--gray-10) \/ .08), 1px 0px 2px -1px _rgb(var(--gray-10) \/ .1)
    --box-shadow-drop-right-lv2 10px 0px 28px 8px _rgb(var(--gray-10) \/ .04), 6px 0px 16px 0px _rgb(var(--gray-10) \/ .06), 3px 0px 6px -2px _rgb(var(--gray-10) \/ .08)
    --box-shadow-drop-right-lv3 14px 0px 40px 12px _rgb(var(--gray-10) \/ .03), 10px 0px 28px 0px _rgb(var(--gray-10) \/ .05), 6px 0px 14px -6px _rgb(var(--gray-10) \/ .07)
    
    --box-shadow-drop-bottom-lv1 0px 6px 12px 4px _rgb(var(--gray-10) \/ .06), 0px 3px 6px 0px _rgb(var(--gray-10) \/ .08), 0px 1px 2px -1px _rgb(var(--gray-10) \/ .1)
    --box-shadow-drop-bottom-lv2 0px 10px 28px 8px _rgb(var(--gray-10) \/ .04), 0px 6px 16px 0px _rgb(var(--gray-10) \/ .06), 0px 3px 6px -2px _rgb(var(--gray-10) \/ .08)
    --box-shadow-drop-bottom-lv3 0px 14px 40px 12px _rgb(var(--gray-10) \/ .03), 0px 10px 28px 0px _rgb(var(--gray-10) \/ .05), 0px 6px 14px -6px _rgb(var(--gray-10) \/ .07)
    
    --box-shadow-primary 0px 6px 12px 4px _rgb(var(--primary-10) \/ .12), 0px 3px 6px 0px _rgb(var(--primary-10) \/ .14), 0px 1px 2px -1px _rgb(var(--primary-10) \/ .16)
    --box-shadow-primary-hover 0px 10px 28px 8px _rgb(var(--primary-10) \/ .1), 0px 6px 16px 0px _rgb(var(--primary-10) \/ .12), 0px 3px 6px -2px _rgb(var(--primary-10) \/ .14)
    --box-shadow-danger 0px 6px 12px 4px _rgb(var(--danger-10) \/ .12), 0px 3px 6px 0px _rgb(var(--danger-10) \/ .14), 0px 1px 2px -1px _rgb(var(--danger-10) \/ .16)
    --box-shadow-danger-hover 0px 10px 28px 8px _rgb(var(--danger-10) \/ .1), 0px 6px 16px 0px _rgb(var(--danger-10) \/ .12), 0px 3px 6px -2px _rgb(var(--danger-10) \/ .14)

    /**
     * 快捷使用
     */
    --box-shadow-base @--box-shadow-drop-bottom-lv1
    --box-shadow-base-hover @--box-shadow-drop-bottom-lv2