:root
    /**
     * 圆角
     */
    --border-radius-base 4px
    --border-radius-xss @--border-radius-base    // 4
    --border-radius-md @--border-radius-base * 2 // 8
    --border-radius-lg @--border-radius-base * 4 // 16
    
    /**
     * 字号
     */
    --font-size-base 12px
    --font-size-1 @--font-size-base      // 12
    --font-size-2 @--font-size-1 + 2px   // 14
    --font-size-3 @--font-size-2 + 2px   // 16
    --font-size-4 @--font-size-3 + 4px   // 20
    --font-size-5 @--font-size-4 + 4px   // 24
    --font-size-6 @--font-size-5 + 6px   // 30
    --font-size-7 @--font-size-6 + 8px   // 38
    --font-size-8 @--font-size-7 + 8px   // 46
    --font-size-9 @--font-size-8 + 10px  // 56
    --font-size-10 @--font-size-9 + 12px // 68
    --font-size-body @--font-size-2
    --font-size-h5 @--font-size-3
    --font-size-h4 @--font-size-4
    --font-size-h3 @--font-size-5
    --font-size-h2 @--font-size-6
    --font-size-h1 @--font-size-7

    /**
     * 行高
     */
    --font-offset-parent 4px
    --line-height-1 @--font-size-1 + @--font-offset-parent * 2   // 20
    --line-height-2 @--font-size-2 + @--font-offset-parent * 2   // 22
    --line-height-3 @--font-size-3 + @--font-offset-parent * 2   // 24
    --line-height-4 @--font-size-4 + @--font-offset-parent * 2   // 28
    --line-height-5 @--font-size-5 + @--font-offset-parent * 2   // 32
    --line-height-6 @--font-size-6 + @--font-offset-parent * 2   // 38
    --line-height-7 @--font-size-7 + @--font-offset-parent * 2   // 46
    --line-height-8 @--font-size-8 + @--font-offset-parent * 2   // 54
    --line-height-9 @--font-size-9 + @--font-offset-parent * 2   // 64
    --line-height-10 @--font-size-10 + @--font-offset-parent * 2 // 76
    --line-height @--line-height-1
    --line-height-body @--line-height-2
    --line-height-h5 @--line-height-3
    --line-height-h4 @--line-height-4
    --line-height-h3 @--line-height-5
    --line-height-h2 @--line-height-6
    --line-height-h1 @--line-height-7