.{prefix}-divider
    hr&
        border-color rgb(var(--gray-1) \/ 0.4)
    div&
        padding-top 2em
        margin-bottom 2em
        overflow hidden
        --box-shadow-color var(--gray-6)
        box-shadow var(--box-shadow-divider-bottom)
    span&
        display inline-block
        vertical-align middle
        height 1em
        padding-left 1em
        margin-right 1em
        --box-shadow-color var(--black)
        box-shadow var(--box-shadow-divider-right)
