---
import prefix from "src/scripts/prefix";
import { Icon } from "astro-icon/components";
---

<h1 class={`${prefix}-title ${prefix}-font-serif`}>
    <Icon name="logo/fill/clover" />
    <span><slot /></span>
</h1>

<style lang="stylus">
svg
    transform rotate(-76deg) rotateY(180deg)
</style>
