---
import prefix from "src/scripts/server/prefix";
import Title from "../title.astro";
const props = Astro.props;
---

<Title tag="h1" {...props}>
    <span class={`${prefix}-connot-select`}>☘</span>
    <slot />
</Title>
