---
import prefix from "src/scripts/server/prefix";
import Title from "../title.astro";
const props = Astro.props;
---

<Title tag="h2" {...props}>
    <span onclick="window.location.hash = this?.parentElement?.id ?? '#'">#</span>
    <slot />
</Title>
