---
import Link from "../link.astro";
import Title from "../title.astro";
const props = Astro.props;
---

<Title tag="h6" {...props}>
    <Link onclick="window.location.hash = this?.parentElement?.id ?? '#'" connot-select>#</Link>
    <slot />
</Title>
