---
import prefix from "src/scripts/prefix"
import { Icon } from "astro-icon/components"
import unknow from "src/assets/images/unknow.png"
import "./../image/err.styl"

interface Props {
    src: string
}
const props = Astro.props
---

<span class={`${prefix}-image`}>
    <img
        {...props}
        ondragstart="return false"
        onerror={`
            this.src='${unknow.src}';
            this.parentElement.dataset.error='';
            this.onerror='return false'
        `}
    />
    <span class={`${prefix}-image-mask`}>
        <Icon
            name="interactive-button/outline/eye"
            role="button"
            aria-label="Open the image in a new tab"
            onclick={`window.open('${props.src}')`}
        />
        <Icon
            name="interactive-button/outline/eye-invisible"
            role="note"
            aria-label="The image failed to load"
            aria-disabled
        />
    </span>
</span>
