---
import prefix from "src/scripts/prefix";
---

<div class={`${prefix}-table-wrapper`}>
    <table class={`${prefix}-table md`} style="--text-align-cell: center">
        <slot />
    </table>
</div>
