---
import prefix from "src/scripts/server/prefix";
const props = Astro.props;
---
<div class={`${prefix}-table-container`}>
    <table class={`${prefix}-table md`} data-cell-align="center" {...props}>
        <slot />
    </table>
</div>
