:doodle {
    @grid: 7 / 100%;
    border-radius: 50%;
}

transition: .2s @r(.6s);
@shape: clover 5;
background: hsla(-@i(*4), 70%, 68%, @r.8);
transform:
    scale(@r(.2, 1.5))
    translate(@m2.@r(±50%));
