/**
 * 使用use和symbol后 svg的路径移入样式不再生效 暂作废
 */

svg[data-icon="logo/color/clover"]
    path
        transition fill .5s ease-in
    g.leaf:hover>path
    path.leaf:hover
        fill pink // rgb(var(--primary-2))
