---
import prefix from "src/scripts/prefix";
import Switch from "../switch/index.astro";
import { Icon } from "astro-icon";
import favicon from "src/assets/favicon.svg";
import "./theme-switch.styl";
import "./menu-toggle.styl";

interface Props {
    href?: string;
}
const { href } = Astro.props;
---

<header class={`${prefix}-layout-header`}>
    
    {
        href ? (<></>) : (
            <button
                id="header-menu-toggle"
                class={`${prefix}-button`}
                title="menu"
                data-collapsed
            >
                <Icon name="direction/outline/menu-fold" role="img" aria-label="fold" />
                <Icon name="direction/outline/menu-unfold" role="img" aria-label="unfold" />
            </button>
        )
    }

    <a href={href || import.meta.env.BASE_URL} class="logo">
        <img src={favicon} alt="logo" class="logo" />
    </a>

    <Switch
        id="header-theme-switch"
        class="header-theme-switch"
        title="theme"
        name="theme"
    >
        {/**
          * 为了兼容 Safari浏览器里 `<svg>` 不能同时拥有 `box-shadow` 和 `drop-shadow`
          * 所以额外用了 `<i>` 来包裹 `<svg>`
          */}
        <i role="img" aria-label="sun">
            <Icon name="general/outline/sun"/>
        </i>
        <i role="img" aria-label="moon">
            <Icon name="general/outline/moon"/>
        </i>
    </Switch>
</header>

<script src="./menu-toggle.ts"></script>
<script src="./theme-switch.ts"></script>

<style lang="stylus">
header
    display flex
    align-items center
    justify-content space-between
    height var(--line-height-8)
    padding .5em 1em

    a.logo
        display flex
        border-radius 50%
        img.logo
            width var(--font-size-8)
            height var(--font-size-8)
</style>
