#header-menu-toggle
    display grid
    width 32px
    height 32px
    padding 5px
    @media screen and (min-width 768px)
        display none
    svg
        grid-area 1 / 1 / 2 / 2
        transition opacity .3s 
    &[data-collapsed]>svg[aria-label=fold]
    &:not([data-collapsed])>svg[aria-label=unfold]
        opacity 0
