@import '../../lib/variable/functions.styl'
@import '../../lib/variable/compatible.styl'

.header-theme-switch
    // 打开阴影颜色
    --box-shadow-color-switch var(--orange-6)
    // 关闭阴影颜色
    --box-shadow-color-switch-checked var(--blue-6)
    // 阴影大小
    --box-shadow-width-switch 48px

    // 打开按钮颜色
    --color-switch-checked var(--pinkpurple-6)
    // 关闭按钮颜色 
    --color-switch var(--gold-3)

    i
        background unset
    svg
        width 100%
        height 100%
        
    i:first-of-type
        // 打开按钮 字体颜色
        color _rgb(var(--orange-10))
        opacity 1
        svg
            filter drop-shadow(0 0 2px _rgb(var(--gold-6)))
    i:last-of-type
        // 关闭按钮 字体颜色
        color _rgb(var(--blue-10))
        opacity 0
        svg
            filter drop-shadow(0 0 2px _rgb(var(--blue-6)))
    
    &:where([data-init])
        // 单页应用的时候不需要这个动画
        pointer-events none
        i
            left 11px
            transform rotateY(90deg)
            opacity 0 !important
        label
            background-color transparent


#header-theme-switch:checked~i
    &:first-of-type
        opacity 0
    &:last-of-type
        opacity 1
