@import '../../lib/variable/functions.styl'

.header-theme-switch
    // 打开阴影颜色
    --primary-6 var(--orangered-6)
    // 关闭阴影颜色
    --gray-4 var(--blue-6)
    // 阴影大小
    --box-shadow-width-switch 48px

#header-theme-switch+label
    // 打开按钮颜色 如果不覆盖 按钮和阴影同色
    --primary-6 var(--pinkpurple-6)
    // 关闭按钮颜色 如果不覆盖 按钮和阴影同色
    --gray-4 var(--gold-3)
    svg
        background unset
    svg[alt=sun]
        // 打开按钮字体颜色
        color _rgb(var(--orangered-10))
        // 打开按钮字体羽化
        filter drop-shadow(0 0 3px _rgb(var(--red-6)))
        opacity 1
    svg[alt=moon]
        opacity 0

#header-theme-switch:checked+label
    svg[alt=sun]
        opacity 0
    svg[alt=moon]
        // 关闭按钮字体颜色
        color _rgb(var(--blue-10))
        // 关闭按钮字体羽化
        filter drop-shadow(0 0 3px _rgb(var(--blue-6)))
        opacity 1
