---
import prefix from "src/scripts/server/prefix";
interface Props {
    primary?: "success"|"danger"|"warning";
    processing?: boolean;
}
const props = Astro.props;
---

<span
    class:list={{
        [`${prefix}-badge`]: true,
    }}
    data-processing={props.processing}
    data-primary={props.primary}
>
    <slot />
</span>
