---
import prefix from "src/scripts/server/prefix";
interface Props {
    primary?: "success"|"danger"|"warning";
    processing?: boolean;
    style?: string | Record<string, any>;
}
const props = Astro.props;
---

<span
    class:list={{
        [`${prefix}-badge`]: true,
    }}
    data-processing={props.processing}
    data-primary={props.primary}
    style={props.style}
><slot /></span>
