---
import dataset from "src/scripts/server/dataset"

interface Props {
    inline?: boolean
    gap?: string
    dataset?: Record<string, any>
    style?: Record<string, string>
}
const props = Astro.props
---

<div
    style={{
        display: `${props.inline ? "inline-" : ""}grid`,
        gap: props.gap || "1em",
        ...(props.style || {}),
    }}
    {...dataset(props.dataset || {})}
>
    <slot />
</div>

<style lang="stylus">
div
    @media screen and (min-width: 768px) 
        grid-template-columns 1fr 1fr
  
    @media screen and (min-width: 1024px) 
        grid-template-columns repeat(4, 1fr)
</style>
