---
import prefix from "src/scripts/server/prefix";
import { Icon } from "astro-icon";
---

<header class={`${prefix}-layout-header`}>
    <a href="/">
        <img src="/favicon.svg" alt="logo" class="logo" />
    </a>
    <span class={`${prefix}-switch`}>
        <input type="checkbox" id="header-theme-switch" />
        <label class={`${prefix}-switch-mover`} for="header-theme-switch">
            <Icon name="general/outline/sun" alt="sun" />
            <Icon name="general/outline/moon" alt="moon" />
        </label>
    </span>
</header>
<script src="/src/scripts/client/theme.ts"></script>
<style lang="stylus">
header
    display flex
    align-items center
    justify-content space-between
    height var(--line-height-8)
    padding .5em 1em
    a[href="/"]
        display flex
        img.logo
            width var(--font-size-8)
            height var(--font-size-8)

#header-theme-switch+label
    --primary-6 var(--pinkpurple-6)
    --gray-4 var(--gold-3)
    color s('rgb(%s)'%var(--gold-10))
    svg[alt=sun]
        background unset
        filter drop-shadow(0 0 2px #f00)
        opacity 1
    svg[alt=moon]
        opacity 0
#header-theme-switch:checked+label
    svg[alt=sun]
        opacity 0
    svg[alt=moon]
        background unset
        filter drop-shadow(0 0 2px #fff)
        opacity 1
</style>
