---
import prefix from "src/scripts/server/prefix";
interface Props {
    primary?: "success"|"danger"|"warning";
    disabled?: boolean;
    href?: string;
    target?: "_self" | "_blank" | "_parent" | "_top";
    onclick?: string;
    'connot-select'?: boolean
}
const props = Astro.props;
const target = props.target || "_self";
let { href, disabled, onclick} = props;
if(disabled){
    onclick = '';
    href = '';
}
if(onclick){
    href = '';
}
---

<a
    class:list={{
        [`${prefix}-link`]: true,
        [`${prefix}-connot-select`]: props['connot-select']
    }}
    {...href ? { href } : {}}
    {...onclick ? { onclick } : {}}
    {...{ disabled }}
    target={target}
    data-primary={props.primary}
>
    <slot />
</a>
