---
import prefix from "src/mixin/prefix";
interface Props {
    menu: { url: string; name: string }[];
}
const { menu } = Astro.props;
---

<aside class={`${prefix}-layout-sider`}>
    <ul>
        {
            menu.map(({ url, name }) => (
                <li>
                    <a href={url}>{name || "readme"}</a>
                </li>
            ))
        }
    </ul>
</aside>
