/**
 * @init 初始背景色
 * @transparent 透过的按钮当前颜色
 *
 * 当 变量 --percent-button-wave 从 0% -> 100% 时 按钮当前颜色从中心扩散
 * 一般来说 按钮当前颜色要比初始背景色要深
 *
 */
button_background_color_init(background_color)
    background-color background_color
    background-image radial-gradient(circle, 
        transparent 0%,
        transparent var(--percent-button-wave),
        background_color var(--percent-button-wave), 
        background_color 100%
    )


.{prefix}-button
    /:root
        // --padding--button 5px 12px
        @property --percent-button-wave
            syntax '<percentage>'
            inherits false
            initial-value 100%
            

    --color-button var(--white)
    --color-button-disabled var(--white)
    --background-color-button var(--primary-5)
    --background-color-button-focus var(--primary-6)
    --background-color-button-disabled var(--primary-2)

    /**
     * 不使用主题
     */
    &:where(:not([data-primary]))
        // color unset // 在Safari中是蓝色？
        --color-button var(--gray-10)
        --color-button-disabled var(--gray-5)
        --background-color-button var(--gray-2)
        --background-color-button-focus var(--gray-3)
        --background-color-button-disabled var(--gray-1)
    
    cursor pointer
    user-select none
    display inline-flex
    padding var(--padding-vertical-button, 5px) var(--padding-horizonal-button, 12px)
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    border none
    border-radius var(--border-radius-md)


    transition --percent-button-wave .5s, box-shadow .3s
    transition-timing-function ease-in

    button_background_color_init rgb(var(--background-color-button))
    

    &:focus-visible
        outline-color rgb(var(--outline-color-focus))
    
    &:not([disabled]):hover
        box-shadow var(--box-shadow-drop-bottom)
    
    &[disabled]
        cursor not-allowed
        color rgb(var(--color-button-disabled))
        &::-ms-browse
            color rgb(var(--color-button-disabled))
        &::-webkit-file-upload-button
            color rgb(var(--color-button-disabled))
        &::file-selector-button
            color rgb(var(--color-button-disabled))
        background-color rgb(var(--background-color-button-disabled))
    
    &:not([disabled]):focus
        background-color rgb(var(--background-color-button-focus))
    
    &:not([disabled]):active
        --percent-button-wave 0%
        transition none
        background-color rgb(var(--background-color-button-focus))
        background-size 100%


    &.sm
        // --padding-button 1px 8px
        --padding-vertical-button 1px
        --padding-horizonal-button 8px
        --font-size-body var(--font-size-base)
        --line-height-body var(--line-height-base)
        border-radius var(--border-radius-sm)
    
    &.lg
        // --padding-button 8px 16px
        --padding-vertical-button 8px
        --padding-horizonal-button 16px
        --font-size-body var(--font-size-h5)
        --line-height-body var(--line-height-h5)
    
    &:where([data-round])
    &:where([data-square])
        aspect-ratio 1 / 1
        overflow hidden
        --padding-vertical-button var(--padding-horizonal-button, 12px)
    &:where([data-round])
        border-radius 50%
    &:where([data-square])
        @supports (background paint(smooth-corners)) 
            &
                border-radius unset
                mask paint(smooth-corners)
            

    color rgb(var(--color-button))
    &::-ms-browse
        color rgb(var(--color-button))
    &::-webkit-file-upload-button
        color rgb(var(--color-button))
    &::file-selector-button
        color rgb(var(--color-button))
    

    // 文件上传
    /.{prefix}-input-wrapper

        &:has(input[type=file].{prefix}-input^[0])
            .{prefix}-input-prefix
                pointer-events none
                transform translateX(.4em)
        &:has(input[type=file].{prefix}-input^[0][data-primary])
        &:has(input[type=file].{prefix}-input^[0]:disabled)
            .{prefix}-input-prefix
                color rgb(var(--white))
        
        input[type=file].{prefix}-input^[0]
            font-size 0
            line-height 0
            uploader-button()
                font-size var(--font-size-body)
                line-height var(--line-height-body)
                padding 0
                border none
                background-color transparent
                outline none
                margin 0 .2em
                ^[1]:has(.{prefix}-input-prefix) & // & 這裏相當於 ^[-2..-1]
                    margin 0 .4em 0 0 // 兼容右侧边距即使是0也会显示宽度的特性
                
            &::-ms-browse
                uploader-button()
            &::-webkit-file-upload-button
                uploader-button()
            &::file-selector-button
                uploader-button()
            
            ^[1]:has(.{prefix}-input-prefix) & // & 這裏相當於 ^[-2..-1]
                padding-left calc(var(--padding-horizonal-button, 12px) + 1.5 * var(--font-size-body))
            
            
            &+label
                cursor pointer
