dropdown()
    display grid
    gap var(--gap-dialog-form, 8px)


dialog()
    z-index 100
    border 0
    box-shadow var(--box-shadow-drop-bottom)
    --box-shadow-color var(--gray-6)
    background-color rgb(var(--white))

    form[method=dialog]
        dropdown()


.{prefix}-popover-wrapper
.{prefix}-dropdown-wrapper
    width fit-content
    position relative
.{prefix}-dropdown-wrapper>dialog
    visibility hidden
    & + .{prefix}-dropdown
        display none
        position absolute
        left 0
        right 0
        top calc(100% + var(--gap-dialog-form, 8px))
        padding var(--gap-dialog-form, 8px)
    &:popover-open + .{prefix}-dropdown
        dropdown()


.{prefix}-dropdown
.{prefix}-popover
    dialog()
    border-radius var(--border-radius-md)
    inset unset
    // 用户代理
    //     position fixed
    &.sm
        --gap-dialog-form 4px
.{prefix}-popover
    padding var(--padding-dialog, var(--gap-dialog-form, 8px))


.{prefix}-dialog
    dialog()
    border-radius var(--border-radius-lg)
    padding var(--padding-dialog, 16px 24px)
    // 用户代理
    //     .show() -> position absolute
    //     .showModal() -> position fixed
    
    &[open]::backdrop
        // cursor not-allowed
        pointer-events none
        backdrop-filter brightness(.8) blur(1px)
        /:root[data-theme=dark] &
            backdrop-filter brightness(1.25) blur(1px)
