// details.{prefix}-panel
.{prefix}-panel
    // --color-panel var(--primary-1)

    font-size var(--font-size-body)
    line-height var(--line-height-body)
    /**
     * 不使用主题
     */
    &:where(:not([data-primary]))
        --color-panel var(--white)

    &>summary
        display flex
        justify-content space-between
        align-items center
        background rgb(var(--color-panel, var(--primary-1)))
        padding 8px
        padding-left 18px
        border-left 8px solid rgb(var(--color-panel, var(--primary-1)))
        position relative
        color inherit
        list-style none
        &::-webkit-details-marker
            display none
        &::-moz-list-bullet
            display none
        &::marker
            display none
        &::before
            // content url("/docs/icons/direction/outline/caret-right.svg")
            content ''
            position absolute
            width 18px
            height 18px
            top 0
            bottom 0
            left 0
            margin auto 0

            /**
             * https://stackoverflow.com/questions/34859160/coloring-svg-content-url-with-css
             */
            ~/:where(:not([data-marker])) ^[1..-1]
                mask url("data:image/svg+xml;utf8,<svg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='currentColor' stroke-width='4'><path d='M34.8287 23.0629C35.4292 23.5433 35.4292 24.4566 34.8287 24.937L17.9496 38.4402C17.1639 39.0688 16 38.5094 16 37.5032L16 10.4967C16 9.49048 17.1639 8.93107 17.9496 9.55964L34.8287 23.0629Z' fill='currentColor'/></svg>") \
                    no-repeat \
                    center center \
                    \/ \
                    12px 12px

            ~/:where([data-marker='>']) ^[1..-1]
                mask url("data:image/svg+xml;utf8,<svg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='currentColor' stroke-width='4'><path d='M16 39.5127L31.5563 23.9563C31.5563 23.9563 20.6944 13.0944 16 8.4'/></svg>") \
                    no-repeat \
                    center center \
                    \/ \
                    12px 12px

            background-color currentColor
            transition transform .3s
            
        ~/[open] ^[-1..-1]
            margin-bottom 4px
            &::before
                transform rotate(90deg)

    summary+*
        display grid
        background rgb(var(--color-panel, var(--primary-1)))
        padding 8px 12px
        color inherit

