.{prefix}-pre
    /**
     * 行内的code样式 另见 ./tag&kbd.styl
     */
    overflow-x auto

    // --background-color-pre var(--gray-1)
    // --background-color-pre-dark var(--gray-1)
    background-color rgb(var(--background-color-pre, var(--gray-1)) \/ .8)
    /:root[data-theme=dark] &
        background-color rgb(var(--background-color-pre-dark, var(--gray-1)) \/ .8)
    
    padding calc(var(--font-offset-parent) + .5em) 1em
    margin 1rem 0
    border-radius var(--border-radius-md)
    
    &>.{prefix}-code
        white-space inherit
        font-size var(--font-size-1)
        line-height var(--font-size-3)
        background-color unset
        padding unset
        border unset
        color unset
        *
            // --color-code var(--gray-8)
            // --color-code-dark var(--gray-8)
            color rgb(var(--color-code, var(--gray-8)))
            /:root[data-theme=dark] &
                color rgb(var(--color-code-dark, var(--gray-8)))
