.{prefix}-panel[data-marker='(>)']
    summary::before
        mask url("/docs/icons/direction/outline/right-circle.svg") \
            no-repeat \
            center center \
            \/ \
            18px 18px
