@import './../../lib/variable/prefix.styl'

.{prefix}-image
    
    svg[role=button]
        cursor pointer
    
    svg[aria-disabled]
        cursor not-allowed
    
    &[data-error] svg[aria-label='Open the image in a new tab']
    &:not([data-error]) svg[aria-label='The image failed to load']
        display none

