@import './../../lib/variable/prefix.styl'

.{prefix}-image
    
    svg[aria-label='eye']
        cursor pointer
    
    svg[aria-label='eye-invisible']
        cursor not-allowed
    
    &[data-error] svg[aria-label='eye']
    &:not([data-error]) svg[aria-label='eye-invisible']
        display none

