@import './../../lib/variable/prefix.styl'

.{prefix}-image
    
    svg[role=button]
        cursor pointer
    
    svg[aria-disabled]
        cursor not-allowed
    
    &[data-error] svg[astro-icon='interactive-button/outline/eye']
    &:not([data-error]) svg[astro-icon='interactive-button/outline/eye-invisible']
        display none

