@import './../../lib/variable/prefix.styl'
@import './../../lib/variable/functions.styl'

.{prefix}-image
    svg[data-icon='interactive-button/outline/heart']
    svg[data-icon='interactive-button/fill/heart-fill']
        width 24px
        height 24px
        color rgb(var(--magenta-6))
        cursor pointer
    
    &[data-iine] svg[data-icon='interactive-button/outline/heart']
    &:not([data-iine]) svg[data-icon='interactive-button/fill/heart-fill']
        display none
