---
import "@stylus/index.styl";
import prefix from "src/scripts/prefix";
import Queue from "src/components/message/queue.astro";

interface Props {
    title?: string;
    frontmatter?: {
        title?: string;
    }
}
const title = Astro.props.title || Astro.props.frontmatter?.title || `${prefix} style lib`;
---

<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="/src/scripts/client/copy.ts"></script>
        <script type="module" src="/src/components/web.ts"></script>
    </head>
    <body>
        <Queue />
        <slot />
    </body>
</html>

<style lang="stylus">
    body
        width 100%
        height 100vh
        min-width 320px
        min-height 100vh
        display flex
        flex-direction column
        padding 0
        margin 0
</style>
