---
import "@stylus/index.styl";
import prefix from "src/scripts/prefix";
import Queue from "src/components/message/queue.astro";
import favicon from "src/assets/favicon.svg";

interface Props {
    title?: string;
    frontmatter?: {
        title?: string;
    };
}
const title =
    Astro.props.title ||
    Astro.props.frontmatter?.title ||
    `${prefix} style lib`;
---

<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href={favicon} />
        <!-- 初始化前缀值 `<Final String>window.name` -->
        <script is:inline fetchpriority="high" define:vars={{ prefix }}>
        window.name = prefix;
        </script>
        <!-- 初始化主题值 `<Final Union<'dark'|'light'>>window.theme` -->
        <script is:inline fetchpriority="high" define:vars={{ prefix }}>
        Object.defineProperty(window, "theme", {
            get: () => {
                let theme = localStorage.getItem("theme") || "auto";
                if (theme === "auto") {
                    theme = ["dark", "light"][
                        +!window.matchMedia?.(
                            "(prefers-color-scheme: dark)"
                        )?.matches
                    ];
                }
                return theme;
            },
        });
        document.documentElement.dataset["theme"] = window.theme;
        </script>
        <script src="/src/scripts/client/theme/index.ts"></script>
        <script src="/src/scripts/client/copy.ts"></script>
        <script src="/src/components/web.ts"></script>
    </head>
    <body>
        <Queue />
        <slot />
    </body>
</html>

<style lang="stylus">
    body
        width 100%
        height 100vh
        @supports (height: 100dvh)
            height 100dvh
        overflow hidden
        display flex
        flex-direction column
        padding 0
        margin 0
</style>
