---
import App from "@layout/app.astro";
import prefix from "src/mixin/prefix";
import Header from "src/components/header.astro";
import Footer from "src/components/footer.astro";
import Menu from "src/components/menu.astro";
import { getMenu } from "src/mixin/menu";

const menu = await getMenu("./src/pages/menu");
---

<App {...Astro.props}>
    <Header />
    <section class={`${prefix}-layout ${prefix}-layout-has-sider`}>
        <Menu menu={menu} base="/menu/" />
        <main class={`${prefix}-layout-content`}>
            <slot />
        </main>
    </section>
    <Footer />
</App>
