@import './../variable/prefix.styl'
@import './../variable/functions.styl'
@import './../variable/compatible.styl'

@keyframes badge-processing
    0%
        transform scale(1)
        opacity 0.5
    to
        transform scale(3)
        opacity 0


.{prefix}-badge
    /:root
        --badge-processing-weight 1px
        --badge-margin 0.3em
        --badge-indent 1.2em

    width fit-content
    white-space nowrap
    display inline-flex
    align-items center
    justify-content center
    // text-indent var(--badge-indent) // IOS不支持 改用padding-left
    padding-left var(--badge-indent) 
    position relative
    &::before
        content ''
        position absolute
        border-radius 50%
        top 0
        bottom 0
        left 0
        aspect-ratio 1 / 1
        clip-path inset(var(--badge-margin) round 50%)
        background-color _rgb(var(--primary-6))
    &[data-processing]::after
        content ''
        box-sizing border-box
        position absolute
        top var(--badge-margin)
        bottom @top
        left @top
        aspect-ratio 1 / 1 // 加上border后 IOS上显示不正确 会比1：1宽一个border距离 导致椭圆形波纹 改用outline后正常
        border-radius 50%
        // border var(--badge-processing-weight) solid _rgb(var(--primary-6))
        outline var(--badge-processing-weight) solid _rgb(var(--primary-6))
        animation badge-processing 1.2s ease-in-out infinite
