@import './../variable/prefix.styl'
@import './../variable/functions.styl'

@keyframes badge-processing
    0%
        transform scale(1)
        opacity 0.5
    to
        transform scale(3)
        opacity 0

.{prefix}-badge
    --badge-padding 0.3em
    --badge-indent 1.5em

    white-space nowrap
    width fit-content
    display inline-flex
    align-items center
    justify-content center
    text-indent var(--badge-indent)
    position relative
    &::before
        content ''
        position absolute
        left var(--badge-padding)
        top var(--badge-padding)
        bottom var(--badge-padding)
        aspect-ratio 1 / 1
        border-radius 50%
        background-color _rgb(var(--primary-6))
    &[data-processing]::after
        content ''
        position absolute
        left var(--badge-padding)
        top var(--badge-padding)
        bottom var(--badge-padding)
        aspect-ratio 1 / 1
        border-radius 50%
        border 1px solid _rgb(var(--primary-6))
        animation badge-processing 1.2s ease-in-out infinite