@import './../variable/prefix.styl'
@import './../variable/functions.styl'

button.{prefix}-button
    cursor pointer
    user-select none
    --padding-cell 9px 12px
    font-size var(--font-size-body)
    line-height var(--line-height-body)

