@import './../variable/prefix.styl'
@import './../variable/functions.styl'
@import './../variable/compatible.styl'


btn-click-wave(bgc)
    background bgc radial-gradient(circle, transparent 1%, bgc 1%) center/15000%


.{prefix}-button
    /:root
        --padding-button 5px 12px
        /*
        * 做不到达到脱离hover之后还能保持动画
            @property --percent-button-wave
                syntax '<percentage>'
                inherits false
                initial-value: 0%
        *
        */

    cursor pointer
    user-select none
    padding var(--padding-button)
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    border-radius var(--border-radius-md)
    border none
    background-color _rgb(var(--gray-2))
    transition background 0.8s

    &:focus-visible
        outline-color _rgb(var(--black))

    &[disabled]
        cursor not-allowed
        color _rgb(var(--gray-5))
        background-color _rgb(var(--gray-1))
    &:not([disabled]):hover
        background-color _rgb(var(--gray-3))
    &:not([disabled]):focus
        btn-click-wave @background-color
    &:not([disabled]):active
        background-color _rgb(var(--gray-4))
        background-size 100%
        transition none

    &[data-primary]
        color _rgb(var(--white))
        background-color _rgb(var(--primary-5))
        &[disabled]
            color _rgb(var(--gray-1))
            background-color _rgb(var(--primary-2))
        &:not([disabled]):hover
            background-color _rgb(var(--primary-6))
        &:not([disabled]):focus
            btn-click-wave @background-color
        &:not([disabled]):active
            background-color _rgb(var(--primary-7))
            background-size 100%

    &.sm
        --padding-button 1px 8px
    &.lg
        --padding-button 8px 16px
