@import './../variable/prefix.styl'
@import './../variable/functions.styl'
@import './../variable/compatible.styl'


/**
 * @init 初始背景色
 * @transparent 透过的按钮当前颜色
 *
 * 当 变量 --percent-button-wave 从 0% -> 100% 时 按钮当前颜色从中心扩散
 * 一般来说 按钮当前颜色要比初始背景色要深
 *
 * 兼容实现 见 https://github.com/Deep-Codes/affinity-css/blob/main/components/_button.sass
 */
button_background_color_init(background_color)
    background-color background_color
    @supports (background paint(smooth-corners))
        background-image radial-gradient(circle, 
            transparent 0%,
            transparent var(--percent-button-wave),
            background_color var(--percent-button-wave), 
            background_color 100%
        )


.{prefix}-button
    /:root
        // --padding--button 5px 12px
        @supports (background paint(smooth-corners))
            /** 
             * https://stackoverflow.com/questions/69612853/using-css-can-i-check-if-a-browser-supports-the-css-properties-and-values-api
             * [Typed OM `@property` should be supported here]
             *
             * 可以额外加载一个npm包：[smooth-corners](https://www.npmjs.com/package/smooth-corners)
             *
             * 无效的paint方法名也会进入 @supports
             *
             * https:和localhost:才能进入 @supports
             */
            @property --percent-button-wave
                syntax '<percentage>'
                inherits false
                initial-value 100%
            

    --color-button var(--white)
    --color-button-disabled var(--white)
    --background-color-button var(--primary-5)
    --background-color-button-focus var(--primary-6)
    --background-color-button-disabled var(--primary-2)

    /**
     * 不使用主题
     */
    &:where(:not([data-primary]))
        // color unset // 在Safari中是蓝色？
        --color-button var(--gray-10)
        --color-button-disabled var(--gray-5)
        --background-color-button var(--gray-2)
        --background-color-button-focus var(--gray-3)
        --background-color-button-disabled var(--gray-1)
    
    cursor pointer
    user-select none
    padding var(--padding-vertical-button, 5px) var(--padding-horizonal-button, 12px)
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    border none
    border-radius var(--border-radius-md)

    @supports (background paint(smooth-corners))
        transition --percent-button-wave .5s, box-shadow .3s
        transition-timing-function ease-in
    @supports not (background paint(smooth-corners))
        transition background .8s
        transition-timing-function ease-in

    button_background_color_init _rgb(var(--background-color-button))
    

    &:focus-visible
        outline-color _rgb(var(--outline-color-focus))
    
    &:not([disabled]):hover
        box-shadow var(--box-shadow-drop-bottom)
    
    &[disabled]
        cursor not-allowed
        color _rgb(var(--color-button-disabled))
        &::-ms-browse
            color _rgb(var(--color-button-disabled))
        &::-webkit-file-upload-button
            color _rgb(var(--color-button-disabled))
        &::file-selector-button
            color _rgb(var(--color-button-disabled))
        background-color _rgb(var(--background-color-button-disabled))
    
    &:not([disabled]):focus
        @supports (background paint(smooth-corners))
            background-color _rgb(var(--background-color-button-focus))
        @supports not (background paint(smooth-corners))
            background _rgb(var(--background-color-button)) radial-gradient(circle, 
                transparent 1%,
                _rgb(var(--background-color-button)) 1%
            ) center/15000%
    
    &:not([disabled]):active
        --percent-button-wave 0%
        transition none
        background-color _rgb(var(--background-color-button-focus))
        background-size 100%


    &.sm
        // --padding-button 1px 8px
        --padding-vertical-button 1px
        --padding-horizonal-button 8px
    &.lg
        // --padding-button 8px 16px
        --padding-vertical-button 8px
        --padding-horizonal-button 16px
    
    &:where([data-round])
    &:where([data-square])
        aspect-ratio 1 / 1
        overflow hidden
        --padding-vertical-button var(--padding-horizonal-button, 12px)
    &:where([data-round])
        border-radius 50%
    &:where([data-square])
        @supports (background paint(smooth-corners)) 
            &
                border-radius unset
                -webkit-mask paint(smooth-corners)
                mask paint(smooth-corners)
            

    color _rgb(var(--color-button))
    &::-ms-browse
        color _rgb(var(--color-button))
    &::-webkit-file-upload-button
        color _rgb(var(--color-button))
    &::file-selector-button
        color _rgb(var(--color-button))
    

    // 文件上传
    /.{prefix}-input-wrapper

        @supports _selector(':has(*)')
            &:has(input[type=file].{prefix}-input^[0])
                .{prefix}-input-prefix
                    pointer-events none
                    transform translateX(.4em)
            &:has(input[type=file].{prefix}-input^[0][data-primary])
            &:has(input[type=file].{prefix}-input^[0]:disabled)
                .{prefix}-input-prefix
                    color _rgb(var(--white))
        
        input[type=file].{prefix}-input^[0]
            font-size 0
            line-height 0
            uploader-button()
                font-size var(--font-size-body)
                line-height var(--line-height-body)
                padding 0
                border none
                background-color transparent
                outline none
                margin 0 .2em
                ../[data-with-prefix] ^[-1..-1]
                    color red
                    margin 0 .4em 0 0 // 兼容右侧边距即使是0也会显示宽度的特性
            &::-ms-browse
                uploader-button()
            &::-webkit-file-upload-button
                uploader-button()
            &::file-selector-button
                uploader-button()
            
            /**
            * 以后 `:has()` 全面支持后这里可以不写这俩data-
            */
            &:where([data-with-prefix])
                padding-left calc(var(--padding-horizonal-button, 12px) + 1.5 * var(--font-size-body))

            @supports not (_selector(':has(*)')) 
                &+.{prefix}-input-prefix
                    pointer-events none
                    transform translateX(.4em)
                &:where([data-primary])+.{prefix}-input-prefix
                &:disabled+.{prefix}-input-prefix
                    color _rgb(var(--white))
            
            &+label
                cursor pointer
