@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-checkbox

    // --indent-checkbox 1em
    // --color-checkbox var(--primary-6)
    // --color-checkbox-disabled var(--primary-3)

    min-height 1em
    position relative
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    display inline-flex
    // text-indent 1.5em // IOS中似乎input标签不支持这个属性？遂改用label的padding-left
    vertical-align middle
    input.{prefix}-input[type=checkbox]
        margin 0
        border 0
        width 16px
        height 16px
        top 0
        bottom 0
        margin auto 0
        position absolute
        opacity 0
        ~/-label
            padding-left var(--indent-checkbox, 1em)
            min-width 2px
            position relative
            display inline-flex
            align-items center
            cursor pointer
            /**
             * 使用 `^[1..1]` 代替 `../` 减少编译后体积以及选择器冗余
             */
            ^[1..1]:focus-visible+&
                outline 2px solid _rgb(var(--outline-color-focus))
                border-radius var(--border-radius-sm)
            ^[1..1]:disabled+&
                color _rgb(var(--gray-6))
                cursor not-allowed
        ~/-label::before
            content ''
            width 16px
            height 16px
            box-sizing border-box
            border 2px solid _rgb(var(--gray-4))
            position absolute
            left 0
            background-color _rgb(var(--white))
            border-radius var(--border-radius-sm)
            transition border-color .3s
            ^[1..1]:not(:disabled):hover+&
                border-color _rgb(var(--color-checkbox, var(--primary-6)))
            ^[1..1]:checked+&
                border-color _rgb(var(--color-checkbox, var(--primary-6)))
                background-color @border-color
            ^[1..1]:checked:disabled+&
                border-color _rgb(var(--color-checkbox-disabled, var(--primary-3)))
                background-color @border-color
            ^[1..1]:disabled+&
                background-color _rgb(var(--gray-3))
            ^[1..1]:disabled:not(:checked)+&
                background-color _rgb(var(--gray-1))
            ~/[data-indeterminate] &
                padding 2px
                background-color _rgb(var(--color-checkbox, var(--primary-6)))
                background-clip content-box
            ~/[data-indeterminate] ^[-2..-2]:disabled+&
                background-color _rgb(var(--color-checkbox-disabled, var(--primary-3)))

        ~/-label::after
            content ''
            width 10px
            height 6px
            box-sizing border-box
            position absolute
            left 3px
            margin-top -3px
            background none
            transform rotate(-45deg)
            ^[1..1]:checked+&
                border 3px solid _rgb(var(--white))
                border-top none
                border-right none
                // 支持 `path()` 的浏览器增强效果
                @supports (clip-path:path(""))
                    &
                        clip-path path("M 0 1.5 \\
                            A 1.5 1.5 0 1 1 3 1 \\
                            L 3 3 \\
                            L 9 3 \\
                            A 1.5 1.5 0 1 1 8.5 6 \\
                            L 1.5 6 \\
                            A 1.5 1.5 0 0 1 0 4.5 \\
                            Z \\
                        ")
                        border none
                        background-color _rgb(var(--white))
