@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-code
    color _rgb(var(--primary-9))
    background-color _rgb(var(--primary-1))
    border-radius var(--border-radius-md)
    padding var(--font-offset-parent)
