@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-divider
    hr&
        border-color _rgb(var(--gray-1) \/ 0.4)
        transition border-color var(--theme-transition)
    div&
        padding-top 2em
        margin-bottom 2em
        overflow hidden
        box-shadow var(--box-shadow-divider-bottom-lv2)
    span&
        display inline-block
        vertical-align middle
        height 1em
        padding-left 1em
        margin-right 1em
        box-shadow var(--box-shadow-divider-right-lv3)
