@import './../variable/prefix.styl'
@import './../variable/functions.styl'

hr.{prefix}-divider
    border-color _rgb(var(--gray-1))
div.{prefix}-divider
    padding-top 4px
    margin-bottom 4px
    overflow hidden
    box-shadow var(--box-shadow-divider-bottom-solid)
span.{prefix}-divider
    display inline-block
    vertical-align middle
    height 1em
    padding-left 12px
    margin-right 12px
    box-shadow var(--box-shadow-divider-right-solid)