@import './../variable/prefix.styl'
@import './../variable/functions.styl'


.{prefix}-image

    // --color-image var(--white)
    // --color-image-mask var(--black)
    --color-link var(--color-image, var(--white))
    --color-link-hover var(--gray-2)
    --color-link-disabled var(--gray-4)


    display inline-flex
    flex-direction column
    gap 16px
    align-items center
    justify-content center 

    position relative
    box-sizing border-box
    background-repeat no-repeat
    background-size cover
    background-position center center
    overflow hidden
    &>img
        // -webkit-user-drag none
        width 100%
        height 100%
        object-fit @background-size
        object-position @background-position
    &-mask
        opacity 0
        transition opacity .5s
        position absolute
        z-index 2
        inset 0
        color _rgb(var(--color-image, var(--white)))
        background-color _rgb(var(--black) \/ 0.5)
        display flex
        align-items center
        justify-content center
        &:hover
            opacity 1
    &-footer
        height 64px
        padding 9px 16px
        box-sizing border-box
        position absolute
        z-index 2
        bottom 0
        left 0
        right 0
        color _rgb(var(--color-image, var(--white)))
        background-image linear-gradient(
            180deg,
            transparent 0%,
            transparent 0%,
            _rgb(var(--color-image-mask, var(--black))) 100%,
            _rgb(var(--color-image-mask, var(--black))) 100%
        )
        display flex
        align-items center
        gap 16px

        &-content
            height 100%
            display flex
            flex-direction column
            justify-content space-around
            flex 1
            word-break break-all
            .{prefix}-title
            .{prefix}-paragraph
                /**
                 * 不设置高度的时候 由内容撑开在多行时
                 * 受justify-content影响 可以居中
                 */
                height unset
                margin 0
        
        &-action
            display flex
            align-items center
            gap 16px
    
    // 图片上传
    &.{prefix}-input-wrapper

        color _rgb(var(--color-input-wrapper, var(--gray-6)))

        input[type=file].{prefix}-input

            --color-input var(--gray-6)
            --outline-color-focus var(--color-input-wrapper, var(--color-input))

            &:where([data-primary])
                --color-input var(--primary-6)
                
            position absolute
            inset 0px
            border-radius var(--border-radius-md)
            border 2px dashed _rgb(var(--outline-color-focus))
            // opacity 0
            cursor pointer
            color transparent
            &::-ms-browse
                display none
            &::-webkit-file-upload-button
                display none
            &::file-selector-button
                display none
            &[disabled]
                cursor not-allowed
                opacity .3
            &:focus-visible
                outline-color _rgb(var(--outline-color-focus))
            @supports not (_selector(':has(*)'))
                opacity .8
                &:not([disabled]):hover
                    opacity 1
            transition box-shadow .3s, opacity .3s
        @supports _selector(':has(*)')
            &:has(input[type=file].{prefix}-input:not([disabled])):hover
                box-shadow var(--box-shadow-drop-bottom)

            
