@import './../variable/prefix.styl'
@import './../variable/functions.styl'

input_stat()
    box-sizing border-box
    caret-color _rgb(var(--primary-9))

    background-color _rgb(var(--gray-1))
    &:hover
        border-color _rgb(var(--primary-6))
    &:focus
        border-color _rgb(var(--primary-6))
        outline none
        box-shadow var(--box-shadow-drop-bottom)
    &:focus-visible
        outline-color _rgb(var(--black))
    transition border-color .3s, box-shadow .3s

    &[disabled]
        cursor not-allowed
        background-color _rgb(var(--gray-2))
        color _rgb(var(--gray-6))
        &:hover
            border-color transparent
    
    &::-webkit-input-placeholder
        color _rgb(var(--gray-5))
        font-size var(--font-size-body)
        line-height var(--line-height-body)


textarea.{prefix}-textarea
    /:root
        --padding-textarea 5px 12px

    display inline-flex
    flex-direction column
    border 1px solid transparent
    border-radius var(--border-radius-md)
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    padding var(--padding-textarea)

    &.sm
        --padding-textarea 1px 12px
    &.lg
        --padding-textarea 8px 12px
        --font-size-body var(--font-size-h5)
        --line-height-body var(--line-height-h5)
    
    input_stat()


input.{prefix}-input
    /:root
        --padding-justify-input 4px
        --padding-align-input 12px
    
    &:not([type])
    &[type=text]
    &[type=search]
    &[type=number]
    &[type=password]
    &[type=email]
    &[type=tel]
    &[type=url]
    &[type=date]
    &[type=time]
    &[type=month]
    &[type=week]
    &[type=datetime-local]
    &[type=datetime]
        --padding-input var(--padding-justify-input) var(--padding-align-input)

        border 1px solid transparent
        border-radius var(--border-radius-md)

        font-size var(--font-size-body)
        line-height var(--line-height-body)
        padding var(--padding-input)

        &.sm
            --padding-justify-input 0
            --padding-align-input 12px

        &.lg
            --padding-justify-input 7px
            --padding-align-input 12px
            --font-size-body var(--font-size-h5)
            --line-height-body var(--line-height-h5)

        input_stat()

        &[data-with-prefix]
            padding-left calc(var(--padding-align-input) + var(--font-size-body))
        &[data-with-suffix]
            padding-right calc(var(--padding-align-input) + var(--font-size-body))


.{prefix}-input-wrapper
    display inline-flex
    align-items center
    position relative
    border 1px none _rgb(var(--gray-1))
    border-radius var(--border-radius-md)
    background-color _rgb(var(--gray-1))
    &[data-primary]
        border 1px none _rgb(var(--primary-6))
        background-color _rgb(var(--primary-6))
        color _rgb(var(--white))

    &>*
        display inline-flex
        align-items center
    button
    input:where([type=button])
    input:where([type=reset])
    input:where([type=submit])
        cursor pointer
        border none
        background none
        &:focus-visible
            outline-color _rgb(var(--black))
        ~/[data-primary] ^[1..-1]
            color _rgb(var(--white))

    .{prefix}-input-prefix
    .{prefix}-input-suffix
        // cursor pointer
        position absolute
        top 0
        bottom 0
        margin auto 0
        z-index 1
        color _rgb(var(--black))
        padding 0 // 这是祛除button的代理样式
        ~/[data-primary] ^[1..-1]
            color _rgb(var(--primary-6))
    .{prefix}-input-prefix
        left calc(var(--padding-align-input) / 2)
    .{prefix}-input-suffix
        right calc(var(--padding-align-input) / 2)
        