@import './../variable/prefix.styl'
@import './../variable/functions.styl'

input_stat()
    box-sizing border-box

    background-color _rgb(var(--gray-1))
    &:hover
        border-color _rgb(var(--primary-6))
    &:focus
        border-color _rgb(var(--primary-6))
        outline none
        box-shadow var(--box-shadow-drop-bottom-lv3)
    &:focus-visible
        outline-color _rgb(var(--black))
    transition box-shadow

    &[disabled]
        cursor not-allowed
        background-color _rgb(var(--gray-2))
        color _rgb(var(--gray-6))
        &:hover
            border-color transparent
    
    &::-webkit-input-placeholder
        color _rgb(var(--gray-5))
        font-size var(--font-size-body)
        line-height var(--line-height-body)


textarea.{prefix}-textarea
    /:root
        --padding-textarea 5px 12px
        --height-textarea 54px

    display inline-flex
    flex-direction column
    border 1px solid transparent
    border-radius var(--border-radius-md)

    font-size var(--font-size-body)
    line-height var(--line-height-body)
    padding var(--padding-textarea)

    &.sm
        --padding-textarea 1px 12px
        --height-textarea 46px
    &.lg
        --padding-textarea 8px 12px
        --height-textarea 64px
        --font-size-body var(--font-size-h5)
        --line-height-body var(--line-height-h5)
    
    input_stat()


input.{prefix}-input
    /:root
        --padding-input 4px 12px

    border 1px solid transparent
    border-radius var(--border-radius-md)

    font-size var(--font-size-body)
    line-height var(--line-height-body)
    padding var(--padding-input)

    &.sm
        --padding-input 0 12px

    &.lg
        --padding-input 7px 12px
        --font-size-body var(--font-size-h5)
        --line-height-body var(--line-height-h5)

    input_stat()
