@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-menu
    /:root
        --padding-vertical-menu-item 0.5em
        --padding-horizonal-menu-item 1em

    // --color-menu var(--primary-6)

    margin 0 1em
    display flex
    flex-direction column
    gap 0.5em

    ul&
        padding 0
        list-style none
        li^[0]
            &-submenu
                display flex
                flex-direction column
                gap @gap
                &[data-folded]
                    /**
                     * 收起时 无间距
                     */
                    gap 0
                ~/-submenu-title
                    display flex
                    justify-content space-between
                    align-items center
                    cursor alias
                    line-height var(--line-height-body)
                    padding var(--padding-vertical-menu-item) var(--padding-horizonal-menu-item)
                    &-arrow
                        position relative
                        display inline-block
                        width 10px
                        transform translateY(-50%)
                        transition transform .3s
                        &:before
                        &:after
                            position absolute
                            width 6px
                            height 1.5px
                            background-color currentColor
                            border-radius 2px
                            transition transform .3s
                            content ""
                        &:before
                            transform rotate(-45deg) translate(2.5px)
                        &:after
                            transform rotate(45deg) translate(-2.5px)
                        ../../[data-folded] &
                            /**
                             * 收起时的尖角动画 🔼🔽
                             */
                            &:before
                                transform rotate(45deg) translate(2.5px)
                            &:after 
                                transform rotate(-45deg) translate(-2.5px)

            &-item
                position relative
                height calc(var(--line-height-body) + 2 * var(--padding-vertical-menu-item))
                text-indent var(--padding-horizonal-menu-item)
                display flex
                align-items center
                background-color _rgb(var(--white))
                color _rgb(var(--black))
                border-radius var(--border-radius-md)

                ~/-item-link
                    position absolute
                    inset 0
                    display flex
                    align-items center
                    cursor pointer
                    text-decoration none
                    color inherit
                    border-radius @border-radius // 这个是为了 `a:focus-visible` 能有圆角

                &[data-selected]
                    cursor auto
                    background-color _rgb(var(--color-menu, var(--primary-6)))
                    color _rgb(var(--white))
                
                &:not(^[0]-item[data-selected]):hover
                    color _rgb(var(--color-menu, var(--primary-6)))
                
                ../-submenu[data-folded] ^[0]
                    /**
                     * 收起时 0高度
                     */
                    height 0
                    overflow hidden
