@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-paragraph
    margin 1em 0
    font-size var(--font-size-body)
    line-height var(--line-height-body)
    
    for i in range(1 6)
        &[data-size=\"{i}\"]
            --line-height-body var(_get_var_by(
                line-height,
                'h%s' % i
            ))
            --font-size-body var(_get_var_by(
                font-size,
                'h%s' % i
            ))
        &[data-ellipsis=\"{i}\"]
            mixin_line_clamp(i)
            height 'calc(%s * %s)' % (var(--line-height-body) i)
    &[data-has-indent]
        text-indent 2em
