@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-pre
    background-color _rgb(var(--primary-10)) !important
    /:root[data-theme='theme-dark'] &
        --primary-10 var(--gray-2)
    padding calc(var(--font-offset-parent) + 0.5em) 1em
    margin 1rem 0
    border-radius var(--border-radius-md)
    .{prefix}-code
        font-size var(--font-size-base)
        line-height var(--font-size-3)
        background-color unset
        padding unset
        border unset
        color unset