@import './../variable/prefix.styl'
@import './../variable/functions.styl'
@import './../variable/compatible.styl'

.{prefix}-switch
    
    // --size-switch 22px
    // --padding-switch 2px
    
    --size-switch-mover calc(var(--size-switch, 22px) - 2 * var(--padding-switch, 2px))

    // --box-shadow-width-switch var(--padding-switch)
    box-shadow-width-switch = var(--box-shadow-width-switch, var(--padding-switch, 2px))
    // --color-switch var(--gray-4)
    // --color-switch-checked var(--primary-6)
    // --color-switch-disabled var(--gray-3)
    // --color-switch-checked-disabled var(--primary-3)
    // --color-switch-mover var(--gray-1)
    // --box-shadow-color-switch var(--color-switch-checked)
    // --box-shadow-color-switch-checked var(--color-switch)
    box-shadow-color-switch = var(
        --box-shadow-color-switch, var(
            --color-switch-checked, var(
                --primary-6
            )
        )
    )
    box-shadow-color-switch-checked = var(
        --box-shadow-color-switch-checked, var(
            --color-switch, var(
                --gray-4
            )
        )
    )
    // @supports _selector(':has(*)')
    //     &:where(:has(input.{prefix}-input[type=checkbox]:checked))
    //         --box-shadow-color-switch var(--box-shadow-color)

    display inline-flex
    position relative
    font-size calc(var(--size-switch-mover) - var(--font-offset-parent))

    &.sm
        --size-switch 16px
    
    &>input.{prefix}-input[type=checkbox]
        position absolute
        opacity 0
        pointer-events none

        ~/-mover
            display inline-flex
            cursor pointer
            height var(--size-switch, 22px)
            width calc(var(--size-switch, 22px) * 2)
            ../:focus-visible+&
                outline 2px solid _rgb(var(--outline-color-focus))
            border-radius calc((var(--size-switch, 22px) / 2))
            background-color _rgb(var(--color-switch, var(--gray-4)))
            transition background-color 1s, box-shadow .5s
            ../:checked+&
                background-color _rgb(var(--color-switch-checked, var(--primary-6)))
            ../:checked:disabled+&
                background-color _rgb(var(--color-switch-checked-disabled, var(--primary-3)))
            ../:disabled+&
                background-color _rgb(var(--color-switch-disabled, var(--gray-3)))
                cursor not-allowed
            
            &:empty::before, &>*
                content ''
                display flex
                align-items center
                justify-content center
                position absolute
                left var(--padding-switch, 2px)
                top var(--padding-switch, 2px)
                bottom var(--padding-switch, 2px)
                width var(--size-switch-mover)
                height @width
                overflow hidden
                border-radius 50%
                background-color _rgb(var(--color-switch-mover, var(--gray-1)))
                transition all .5s
            
                ../../:checked+&
                    left calc(var(--size-switch, 22px) + var(--padding-switch, 2px))
                    //@supports not (_selector(':has(*)'))
                    //    --box-shadow-color-switch var(--primary-6)



            ../:not(:disabled)+&:hover
                box-shadow \
                    inset \
                    0 \
                    0 \
                    var(--padding-switch, 2px) \
                    var(--padding-switch, 2px) \
                    _rgb(box-shadow-color-switch \/ 25%)
                &:empty::before, &>*
                    filter drop-shadow(
                        0 \
                        0 \
                        var(--padding-switch, 2px) \
                         _rgb(box-shadow-color-switch) \
                    )
                    box-shadow \
                        0 \
                        0 \
                        box-shadow-width-switch \
                        box-shadow-width-switch \
                         _rgb(box-shadow-color-switch \/ 25%)
            


            ../:not(:disabled):checked+&:hover
                box-shadow \
                    inset \
                    0 \
                    0 \
                    var(--padding-switch, 2px) \
                    var(--padding-switch, 2px) \
                    _rgb(box-shadow-color-switch-checked \/ 25%)
                &:empty::before, &>*
                    filter drop-shadow(
                        0 \
                        0 \
                        var(--padding-switch, 2px) \
                        _rgb(box-shadow-color-switch-checked) \
                    )
                    box-shadow \
                        0 \
                        0 \
                        box-shadow-width-switch \
                        box-shadow-width-switch \
                        _rgb(box-shadow-color-switch-checked \/ 25%)
