@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-switch
    --switch-size 22px
    --switch-padding 2px

    display inline-flex
    position relative
    --switch-mover-size calc(var(--switch-size) - 2 * var(--switch-padding))
    font-size calc(var(--switch-mover-size) - var(--font-offset-parent))

    &.sm
        --switch-size 16px
    
    &>input
        display none

        ~/-mover
            display inline-flex
            cursor pointer
            height var(--switch-size)
            width calc(var(--switch-size) * 2)
            border-radius calc((var(--switch-size) / 2))
            background-color _rgb(var(--gray-4))
            transition background-color 1s
            ../:checked
                &+^[-1]
                    background-color _rgb(var(--primary-6))
            ../:checked:disabled
                &+^[-1]
                    background-color _rgb(var(--primary-3))
            ../:disabled
                &+^[-1]
                    background-color _rgb(var(--gray-3))
                    cursor not-allowed
            
            &:empty::before, &>*
                content ''
                display flex
                align-items center
                justify-content center
                position absolute
                left var(--switch-padding)
                top var(--switch-padding)
                bottom var(--switch-padding)
                width var(--switch-mover-size)
                height @width
                border-radius 50%
                background-color _rgb(var(--gray-1))
                transition left 0.5s
            
                ../../:checked
                    &+^[-1]
                        left calc(var(--switch-size) + var(--switch-padding))

