@import './../variable/prefix.styl'
@import './../variable/functions.styl'

.{prefix}-switch
    display inline-flex
    position relative
    --switch-size 22px
    --switch-mover-size 18px
    font-size calc(var(--switch-mover-size) - var(--font-offset-parent))
    &.sm
        --switch-size 16px
        --switch-mover-size 12px
    &>.{prefix}-switch-mover
        display inline-flex
        cursor pointer
        height var(--switch-size)
        width calc(var(--switch-size) * 2)
        border-radius calc((var(--switch-size) / 2))
        background-color _rgb(var(--gray-4))
        &:empty::before, &>*
            content ''
            display flex
            align-items center
            justify-content center
            position absolute
            left 2px
            top 2px
            bottom 2px
            width var(--switch-mover-size)
            height @width
            border-radius 50%
            background-color _rgb(var(--gray-1))
            transition all 0.5s
    &>input
        display none
        &:checked
            &+.{prefix}-switch-mover
                background-color _rgb(var(--primary-6))
                &:empty::before, &>*
                    left calc(var(--switch-size) + 2px)
            &:disabled+.{prefix}-switch-mover
                background-color _rgb(var(--primary-3))
        &:disabled+.{prefix}-switch-mover
            cursor not-allowed
            background-color _rgb(var(--gray-3))