@import './../variable/prefix.styl'
@import './../variable/functions.styl'

tag()
    box-sizing border-box
    padding var(--font-offset-parent)
    color _rgb(var(--primary-9))
    background-color _rgb(var(--primary-1))
    transition border-color var(--theme-transition), background-color var(--theme-transition)
    border-radius var(--border-radius-md)
code.{prefix}-code
    tag()
span.{prefix}-tag
    display inline-block
    border 1px none _rgb(var(--primary-9))
    tag()
    