@import './../variable/prefix.styl'
@import './../variable/functions.styl'

tag()

    box-sizing border-box
    padding var(--font-offset-parent)
    border-radius var(--border-radius-md)
    vertical-align middle

code.{prefix}-code

    // --color-code var(--primary-9)
    // --background-color-code var(--primary-1)

    color _rgb(var(--color-code, var(--primary-9)))
    background-color _rgb(var(--background-color-code, var(--primary-1)))
    tag()


span.{prefix}-tag

    // --color-tag var(--primary-6)
    // --background-color-tag var(--primary-1)
    
    display inline-block
    border 1px none _rgb(var(--color-tag, var(--primary-6)))
    color _rgb(var(--color-tag, var(--primary-6)))
    background-color _rgb(var(--background-color-tag, var(--primary-1)))
    tag()
    