@import './../variable/prefix.styl'
@import './../variable/functions.styl'
@import './../variable/input.styl'

textarea.{prefix}-textarea
    --padding-textarea 5px 12px
    --height-textarea 54px

    display inline-flex
    flex-direction column
    border 1px solid transparent
    border-radius var(--border-radius-md)

    font-size var(--font-size-body)
    line-height var(--line-height-body)
    padding var(--padding-textarea)

    &.sm
        --padding-textarea 1px 12px
        --height-textarea 46px
    &.lg
        --padding-textarea 8px 12px
        --height-textarea 64px
        --font-size-body var(--font-size-h5)
        --line-height-body var(--line-height-h5)
    
    input_stat()
